.first {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: blue;
}
.next{
    display: inline-block;
	width: 0;
	height: 0;
    position: relative;
	border-top: 25px solid transparent;
	border-left: 30px solid green;
	border-bottom:25px solid transparent;
}
.second {
    display: block;
    height: 50px;
    width: 50px;
    background-color: red;
}
.bottom_left{
    display: inline;
    position: fixed;
	width: 0;
	height: 0;
	border-right: 6px solid transparent;
	border-top: 8px solid black;
	border-left:6px solid transparent;
}
.bottom_right{
	width: 0;
	height: 0;
    margin-left: 38px;
    position: relative;
	border-right: 6px solid transparent;
	border-top: 8px solid black;
	border-left:6px solid transparent;
}
