.button-div{


}
.btn{
    padding: 2px 8px;
    background-color: #6200ee;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 300;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 2px #ccc;
    align-items:center;
}
#btn{
    padding: 2px 8px;
    background-color: #6200ee;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 300;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 2px #ccc;
    align-items:center;
}
